doctype html
html(ng-app='wlustapp')
   head
      meta(charset='UTF-8')
      base(href='/')
      title WANDERLUST 360

      //downloaded csss
  //    link(rel='stylesheet' href='libs/bootstrap/dist/minty/bootstrap.min.css')
    //  link(rel='stylesheet' href='libs/font-awesome/css/font-awesome.min.css')
     // link(rel='stylesheet' href='libs/animate.css/animate.min.css')

      //any custom css
      link(rel='stylesheet' href='/css/base.css')

   
      //downloaded scripts
      //script(src='libs/jquery/jquery.min.js')
     // script(src='libs/bootstrap/dist/js/bootstrap.min.js')



   body()
      nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
         a.navbar-brand(href='/') WLUST 360
         button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle Navigation'): span(class='navbar-toggler-icon')
      
         .collapse.navbar-collapse.justify-content-end(id='navbarCollapse')
            ul.navbar-nav.text-right
               li.nav-item.active
                  a.nav-link(href='#') Trips
               li.nav-item.active
                  a.nav-link(href='#') Profile
               if user
                  li.nav-item
                     a.btn.btn-secondary(href='#') Logout
               else
                  li.nav-item
                     a.btn.btn-secondary(href='#') Login/SignUp
      
      //dynamic content
      div()

